body{
    padding: 0;
    margin: 0; 

}




.main{

    width: 100%; 
    height:  100vh;
    background: url(https://cdn.wallpapersafari.com/43/50/gaztfE.jpg);
    background-repeat : no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay{

    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0 ,0.7);
    text-align: center;
    /* margin: auto; */
}

h2{
    /* margin-top: 80px; */
    text-align: center; 
    color: white;
    font-weight: 500;
    font-size: xx-large;
}

.col{
    display: flex;
    /* margin-top: 40px; */
    width: 1000px; 
    height: 100px;
    /* border: 1px solid red; */
    /* margin: auto; */
    /* text-align: center; */
    justify-content: center;

    
}
.input{

    display: flex;
    flex-direction: row;
    /* height: 50px; */
}

label{
    display: block;
    color: white;
}

input{
    width: 100px;
    height: 50px;
    margin-left: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: large;
    border-radius: 10px;
}


@media screen and (max-width:850px){
    .main{
        display: flex; 
        flex-direction: row; 
        width: 100%; 
        height:  100vh;
        background: url(https://wallpapers.com/images/hd/king-virat-kohli-hd-art-11ifps82re2guk3d.jpg);
        background-repeat : no-repeat;
        background-size: cover;
        background-position: center;
    }

    .overlay{

        display: flex;
        justify-content: center; 
        align-items: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%; 
        background-color: rgb(0, 0, 0 ,0.7);
        text-align: center;
        /* margin: auto; */
    }
    
    h2{
        /* margin-top: 80px; */
        text-align: center; 
        color: white;
        font-weight: 500;
        font-size: xx-large;
    }
    
    .col{
        display: flex;
        /* margin-top: 40px; */
        width: 100px; 
        height: 100px;
        /* border: 1px solid red; */
        /* margin: auto; */
        /* text-align: center; */
        justify-content: center;
    
        
    }
    .input{
    
        display: flex;
        flex-direction: row;
        
        /* height: 50px; */
    }
    
    label{
        display: block;
        color: white;
    }
    
    input{
        width: 70px;
        height: 50px;
        margin: auto;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
        font-weight: 400;
        font-size: large;
        border-radius: 10px;
}